:root {
    --input-bg-color: #f7f7f7;
    --btn-color: #0082aa;
}

.page {
    width: 984px;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

/* линии разделители */

.line {
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    width: 100%;
}

.line2 {
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    margin-top: 30px;
}

.page__header {
    display: flex;
    column-gap: 2rem;
    justify-content: flex-start;
}

.page__header-title {
    width: 200px;
    font-size: 25px;
    color: #808080;
}

.page__header-description {
    font-size: 28px;
    align-self: center;
    margin-left: 10%;
}

/*          Таблица с полями для описания книги        */

.table {
    width: 100%;
    border-spacing: 5px 5px;
}

.table-user {
    padding-left: 20%;
}

input {
    background-color: var(--input-bg-color);
    outline: none;
    border: none;
}

.input-namesAuthors {
    width: 100%;
}

::placeholder {
    color: #000;
}

.td-book-description {
    vertical-align: top;
}

.textarea-text{
    outline: none;
    border: none;
    width: 100%;
    resize: none;
}

.table-main-sections {
    font-size: 12px;
}

/*Меняет стиль шрифта в тектовом поле строки Раздел, во втором поле для описания книги и в строке Категории*/

.text-style {
    font-style: italic;
}

/*Строка рецензии*/

.review {
    width: 100%;
    background-color: var(--input-bg-color);
    outline: none;
    border: none;
    resize: none;
    text-align: left;
}

.checkbox {
    background-color: var(--input-bg-color);
}

.special-cell {
    font-weight: bold;
}

.table-button {
    display: flex;
    justify-content: flex-end;
}

.button-save {
    background-color: var(--btn-color); 
    border-radius: 15px;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 34px;
    margin: 20px 2px;
    cursor: pointer;
}
